* {
  transition: all .1s ease-in-out;
}

html {
  /* Primary Colors */
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(
    to left top,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* Light Theme Colors */
  --Very-Light-Gray: hsl(0, 0%, 93%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue-Light: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue-Light: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue-Light: hsl(235, 19%, 35%);

  /* Dark Theme Colors */
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-Hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Extra-Dark-Grayish-Blue: hsl(237, 14%, 26%);

  font-size: 18px;
  font-family: Josefin Sans;
  font-weight: 400;
  color: white;
}

:root {
  --app-background: var(--Very-Dark-Blue);
  --card-background: var(--Extra-Dark-Grayish-Blue);
  --text-primary: var(--Light-Grayish-Blue);
  --text-secondary: var(--Dark-Grayish-Blue);
  --selection: var(--Bright-Blue);
  --borders: var(--Very-Dark-Grayish-Blue);
  --hover-color: white;
}

body[data-theme="light"] {
  --app-background: var(--Very-Light-Gray);
  --card-background: white;
  --text-primary: var(--Very-Dark-Grayish-Blue-Light);
  --text-secondary: var(--Dark-Grayish-Blue-Light);
  --selection: var(--Bright-Blue);
  --borders: var(--Light-Grayish-Blue-Light);
  --hover-color: black;
}


body {
  margin: 0;
  padding: 0;

  background-color: var(--app-background);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 4rem;
  color: var(--text-primary);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}